
{% style %}

body{
   
}
.navbar__container{
    background-color:#005293;
    color:#fff;
    margin:0;
    padding:0;
}

.navbar__container--list{
    display:flex;
    list-style-type: none;
    justify-content:center;
    column-gap:20rem;
}

.navbar__container--list li{
    display:flex;
    align-items:center;
   
}

.navbar__container--list li svg{
    margin: 0 1rem;
}

{% endstyle %}
<div class="navbar__container">
    <ul class="navbar__container--list">
       <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="16.702" height="16.69" viewBox="0 0 16.702 16.69">
            <path id="Path_8" data-name="Path 8" d="M16.536.12a.482.482,0,0,0-.531-.1L.267,6.918a.487.487,0,0,0-.288.417.478.478,0,0,0,.242.442l5.487,3.112,3.258,5.544a.485.485,0,0,0,.413.239h.028a.482.482,0,0,0,.413-.288L16.639.651A.475.475,0,0,0,16.536.12Zm-2.5,1.812-8.055,8L1.531,7.413Zm-4.718,13.2L6.662,10.611l8.1-8.048Z" transform="translate(0.023 0.019)" fill="#fff"/>
          </svg>
           {{ section.settings.track-order }}
        </li> 
       <li>My Cart</li>
       <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="21.704" height="21.704" viewBox="0 0 21.704 21.704">
            <path id="Path_6" data-name="Path 6" d="M21.2,10.6A10.6,10.6,0,1,0,3.431,18.429h0l.347.308c.039,0,.039.039.077.039a5.516,5.516,0,0,0,.578.424c.077.039.116.077.193.116a5.4,5.4,0,0,0,.617.386c.039.039.077.039.154.077.231.116.463.27.733.386a.038.038,0,0,1,.039.039,9.613,9.613,0,0,0,2.583.81h.077c.27.039.578.077.848.116h.116a2.628,2.628,0,0,0,.81.077,6.247,6.247,0,0,0,.848-.039h.116c.27-.039.578-.077.848-.116h.077a9.794,9.794,0,0,0,2.545-.81.135.135,0,0,0,.077-.039l.694-.347c.039-.039.116-.077.154-.116a5.4,5.4,0,0,0,.617-.386.841.841,0,0,0,.193-.154,4.364,4.364,0,0,0,.5-.386c.039-.039.077-.039.116-.077l.347-.308h0A10.6,10.6,0,0,0,21.2,10.6ZM.771,10.6a9.831,9.831,0,1,1,16.347,7.364,1.563,1.563,0,0,0-.347-.193l-3.277-1.619a.809.809,0,0,1-.463-.771V14.226a2.138,2.138,0,0,0,.231-.308,7.281,7.281,0,0,0,1-1.966,1.4,1.4,0,0,0,.81-1.272V9.33a1.382,1.382,0,0,0-.347-.925V6.554a3.139,3.139,0,0,0-.733-2.275,4.413,4.413,0,0,0-3.393-1.2A4.434,4.434,0,0,0,7.171,4.318a3.257,3.257,0,0,0-.733,2.275V8.4a1.382,1.382,0,0,0-.347.925v1.349a1.434,1.434,0,0,0,.5,1.079,7.151,7.151,0,0,0,1.2,2.467v1.118a.848.848,0,0,1-.463.771L4.318,17.735a1.353,1.353,0,0,0-.308.193A9.984,9.984,0,0,1,.771,10.6Zm15.614,7.942a1.592,1.592,0,0,1-.424.27c-.077.039-.116.077-.193.116-.193.116-.386.231-.54.308-.039.039-.077.039-.116.077a8.364,8.364,0,0,1-1.349.578h-.039c-.231.077-.5.154-.733.231h0a4.548,4.548,0,0,1-.771.154h-.039a4.27,4.27,0,0,1-.733.077h-.116c-.231,0-.463.039-.733.039a4.666,4.666,0,0,1-.733-.039H9.754c-.231-.039-.5-.039-.733-.077H8.983a7.188,7.188,0,0,1-1.5-.386H7.441c-.231-.077-.5-.193-.733-.27h0a5.019,5.019,0,0,1-.655-.308c-.039,0-.039-.039-.077-.039L5.4,18.93c-.039-.039-.116-.077-.154-.116a5.64,5.64,0,0,1-.5-.347L4.7,18.429a.038.038,0,0,0,.039-.039l3.046-1.658a1.594,1.594,0,0,0,.848-1.426V13.918L8.559,13.8A6.557,6.557,0,0,1,7.4,11.412l-.077-.154-.154-.077a.615.615,0,0,1-.308-.54V9.291a.55.55,0,0,1,.231-.463l.116-.116v-2.2a2.384,2.384,0,0,1,.54-1.7A3.676,3.676,0,0,1,10.6,3.855a3.5,3.5,0,0,1,2.814.964,2.35,2.35,0,0,1,.54,1.7v2.2l.116.116a.6.6,0,0,1,.231.463v1.349a.66.66,0,0,1-.463.617l-.193.077-.077.193a6.95,6.95,0,0,1-.964,1.928,3.734,3.734,0,0,1-.27.347l-.077.116v1.426a1.644,1.644,0,0,0,.887,1.465l3.277,1.619c.039,0,.039.039.077.039C16.462,18.506,16.424,18.544,16.385,18.544Z" transform="translate(0.25 0.25)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
        </svg>
           My Account
        </li>
    </ul>
   
</div>
{% schema %}
{
    "name":"Navigation Bar",
    "settings":[
        {
            "id":"track-order",
            "type":"text",
            "label":"Track order"
        }
    ],
    "presets":[
        {
            "name":"Navigation Bar",
            "category":"Reference"
        }
      
    ]
    
}

{% endschema %}